<%- include('partials/header',{title:"Welcome!", pageCSS:"css/Home.css"})%>

<input type="hidden" id="user" value=<%= loggedInAccount._id %>>
<input type="hidden" id="userFirstName" value=<%= loggedInAccount.profile.firstName %>>
<input type="hidden" id="userLastName" value=<%= loggedInAccount.profile.lastName %>>


<nav class="navbar navbar-expand-md sticky-top navbar-dark">
    
    <div class="btn-group">
        <button type="button" class="btn navbar-brand pr-0 mr-0">Hi, <%= loggedInAccount.profile.firstName %>!</button>
        <button type="button" class="btn dropdown-toggle-split pl-0 ml-1 mt-1" data-toggle="dropdown">
                <span class="badge badge-light"></span>
        </button>
        <div class="dropdown-menu notificationMenu">
            <a class="dropdown-item" href="#">Notification 1</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Notification 2</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Notification 3</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Notification 4</a>
        </div>
    </div>





    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#options">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="options">
        <ul class="nav navbar-nav mb-3" role="tablist">

            <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#patients" role="tab">Your Patients</a>
            </li>

            <li class="nav-item dropdown mt-2">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Add a patient</a>
                <div class="dropdown-menu p-3 mt-2">
                    <form id="searchForm" class="form-inline">
                        <input type="search" class="form-control mb-2" placeholder="Search" id="searchQuery">
                        <input type="button" class="btn btn-info btn-sm" id="searchButton" value="Search">
                        <input type="hidden" data-toggle="tab" id="searchResult-tab" href="#searchResult" role="tab">
                    </form>
                </div>
            </li>

            <li class="nav-item dropdown mt-2">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">Keep yourself in check too!</a>
                <div class="dropdown-menu mt-2">
                    <a class="dropdown-item" data-toggle="tab" role="tab" href="#medRec">Your Medical Records</a>
                    <a class="dropdown-item" data-toggle="tab" role="tab" href="#orders">Your Orders</a>
                    <a class="dropdown-item" data-toggle="tab" role="tab" href="#reminders">Your Reminders</a>
                </div>
            </li>

            <li class="nav-item mt-2">
                <a class="nav-link" href="/logout" role="tab">Log Out</a>
            </li>
                 
        </ul>
    </div>
</nav>


<div class="tab-content">
    
    <div class="tab-pane fade show active" id="patients" role="tabpanel">

        <div class="card">
                <div class="card-header">
                    <h5>Your Patients</h5>
                </div>
            <ul class="list-group list-group-flush" id="patientsList">
            
            </ul>
        </div>

    </div>
    <div class="tab-pane fade" id="searchResult" role="tabpanel">
        <div class="card">
                <div class="card-header">
                    <h5>Search Result</h5>
                </div>
                <div class="container-fluid">
                    <ul class="list-group list-group-flush" id="searchResultList">
                        <li class="list-group-item">
                            <div class="row">          
                                <div class="col">
                                
                                </div>
                                <div class="col-auto my-auto">
                                    <form action="/home/addPatient" method="post">
                                        <input type="hidden" name="patient_id" value="" >
                                        <input type="image" class="img-add" src="images/add.png" alt="+">
                                    </form>
                                </div>
                            </div>
                        </li>
                        
            
                    </ul>
                </div>
        </div>
        

    </div>
    <div class="tab-pane fade" id="medRec" role="tabpanel">
        Medical Records



    </div>
    <div class="tab-pane fade" id="orders" role="tabpanel">
        Your Orders



    </div>
    <div class="tab-pane fade" id="reminders" role="tabpanel">
        Reminders




    </div>
</div>
<%- include('partials/footer',{pageJS:"js/docHome.js"})%>